<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mark question</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style type="text/css">
      html, body, .container {
      height: 100%;
      }
      .container {
      display: table;
      vertical-align: middle;
      }
      .vertical-center-row {
      display: table-cell;
      vertical-align: middle;
      }
      .btn-block
      {
          margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row vertical-center-row">

        <div class="page-header">
          <h1>Mark question</h1>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title">Elder</h1>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Title</label>
                  <div class="col-lg-9">
                    <p class="form-control-static"><%= title_elder%></p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Description</label>
                  <div class="col-lg-9">
                    <p class="form-control-static"><%- description_elder%></p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Answer</label>
                  <div class="col-lg-9">
                    <p class="form-control-static"><%- answer_elder%></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title">Younger</h1>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-lg-3 control-label">Title</label>
                  <div class="col-lg-9">
                    <p class="form-control-static"><%= title_younger%></p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Description</label>
                  <div class="col-lg-9">
                    <p class="form-control-static"><%- description_younger%></p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Answer</label>
                  <div class="col-lg-9">
                    <p class="form-control-static"><%- answer_younger%></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <form id="markingForm" action="/admin/mark/<%=id%>" method="post" class="col-sm-offset-4 col-sm-4">
          <input type="hidden" name="correct" value="1"/>
          <button type="submit" class="btn btn-success btn-block text-center"><span class="glyphicon glyphicon-ok" on></span> Right</button>
        </form>
        <br>
        <form id="markingForm" action="/admin/mark/<%=id%>" method="post" class="col-sm-offset-4 col-sm-4">
          <input type="hidden" name="correct" value="0"/>
          <button type="submit" class="btn btn-danger btn-block text-center"><span class="glyphicon glyphicon-remove"></span> Wrong</button>
        </form>
      </div>
    </div>
  </body>
</html>