<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Need Marking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    

    <style type="text/css">
      html, body, .container {
          height: 100%;
      }
      .container {
          display: table;
          vertical-align: middle;
      }
      .vertical-center-row {
          display: table-cell;
          vertical-align: middle;
      }
          .btn-block
          {
              text-align: left;
              font-size: large;
              padding: 6px 8px 6px 8px
          }
      </style>

  </head>
  <body>
  <div class="container">
    <div class="row vertical-center-row">
      <div class="col-lg-offset-2 col-lg-8">
        <div class="page-header">
          <h1>View all questions that need marking</h1>
        </div>

<%
  if (states.length > 0) {
%>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>#</td>
            <td>Title for elder</td>
            <td>Title for younger</td>
            <td>Team name</td>
            <td>Start marking</td>
          </tr>
        </thead>
        <tbody>
        
<%
    for (var i = 0; i < states.length; i++) {
%>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= states[i].questionName_elder%></td>
            <td><%= states[i].questionName_younger%></td>
            <td><%= states[i].teamName%></td>
            <td><a href="mark/<%= states[i].id%>">Click</a></td>
          </tr>
<%
    }
%>
        </tbody>
      </table>
<%
  } else {
%>
    <p class="bg-primary">No question to mark.</p>
<%
  }
%>

      </div>
    </div>
  </div>
  </body>
</html>