

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= firstname%> <%= lastname%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    

    <style type="text/css">
      html, body, .container {
          height: 100%;
      }
      .container {
          display: table;
          vertical-align: middle;
      }
      .vertical-center-row {
          display: table-cell;
          vertical-align: middle;
      }
          .btn-block
          {
              text-align: left;
              font-size: large;
              padding: 6px 8px 6px 8px
          }
      </style>

  </head>
  <body>
  <div class="container">
    <div class="row vertical-center-row">
      <div class="col-lg-offset-2 col-lg-8">
        <div class="page-header">
          <h1><%= firstname%> <%= lastname%></h1>
        </div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-lg-3 control-label">Email:</label>
    <div class="col-lg-9">
      <p class="form-control-static"><%= email%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Team(s):</label>
    <div class="col-lg-9">
      <p class="form-control-static">
        <%
      if (teams.length > 0) {
        for (var i = 0; i < teams.length; i++) {
%>
          <a href="../view-team/<%= teams[i].id%>"><%= teams[i].name%></a>
<%
          if (i != teams.length - 1) {
%>
            ,
<% 
          }
        }
      } else {
%>
      None.
<%
      }
%>
      </p>
    </div>
  </div>
</form>

      </div>
    </div>
  </div>
  </body>
</html>