<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>All Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    

    <style type="text/css">
      html, body, .container {
          height: 100%;
      }
      .container {
          display: table;
          vertical-align: middle;
      }
      .vertical-center-row {
          display: table-cell;
          vertical-align: middle;
      }
      .btn-block
      {
          text-align: left;
          font-size: large;
          padding: 6px 8px 6px 8px
      }
    </style>

  </head>
  <body>
  <div class="container">
    <div class="row vertical-center-row">
      <div class="col-lg-offset-2 col-lg-8">
        <div class="page-header">
          <h1>View All Users</h1>
        </div>


<%
  if (users.length > 0) {
%>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>#</td>
            <td>Email</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Team(s)</td>
          </tr>
        </thead>
        <tbody>
<%
    for (var i = 0; i < users.length; i++) {
%>
        <tr>
          <td><%= (i + 1) %></td>
          <td><%= users[i].email%></td>
          <td><%= users[i].firstname%></td>
          <td><%= users[i].lastname%></td>
          <td>
<%
      if (users[i].teams.length > 0) {
        for (var j = 0; j < users[i].teams.length; j++) {
%>
          <a href="view-team/<%= users[i].teams[j].id%>"><%= users[i].teams[j].name%></a>
<%
          if (j != users[i].teams.length - 1) {
%>
            ,
<% 
          }
        }
      } else {
%>
      No team.
<%
      }
%>
          </td>
        </tr>
<%
    }
%>
      </tbody>
      </table>
<%
  } else {
%>
    <p class="bg-primary">No user.</p>
<%
  }
%>

      </div>
    </div>
  </div>
  </body>
</html>