 <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>New Question</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<style type="text/css">
	      html, body, .container {
	          height: 100%;
	      }
	      .container {
	          display: table;
	          vertical-align: middle;
	      }
	      .vertical-center-row {
	          display: table-cell;
	          vertical-align: middle;
	      }
	      .btn-block
	      {
	          text-align: left;
	          font-size: large;
	          padding: 6px 8px 6px 8px
	      }
	    </style>
		<script language="javascript">
			function title_checked() {
				objName = document.getElementsByName("title_same")[0];
				tobj = document.getElementsByName("title_younger")[0];
				if (objName.checked) {
					tobj.value = document.getElementsByName("title_elder")[0].value;
					tobj.readOnly = true;
				} else {
					tobj.readOnly = false;
				}
			}

			function description_checked() {
				objName = document.getElementsByName("description_same")[0];
				tobj = document.getElementsByName("description_younger")[0];
				if (objName.checked) {
					tobj.value = document.getElementsByName("description_elder")[0].value;
					tobj.readOnly = true;
				} else {
					tobj.readOnly = false;
				}
			} 

			function question_checked() {
				objName = document.getElementsByName("question_same")[0];
				tobj = document.getElementsByName("type_younger")[0];
				if (objName.checked) {
					tobj.value = document.getElementsByName("type_elder")[0].value;
					question_change_younger();
					tobj.readOnly = true;
					copy_choices_elder_to_younger();
					disable_younger_all_choices();
				} else {
					tobj.readOnly = false;
					try_enable_younger_all_choices();
				}
			}

			function copy_choices_elder_to_younger() {
				if (choices_elder_counter > choices_younger_counter) {
					do {
						choices_younger_new();
					} while (choices_elder_counter != choices_younger_counter);
				} else if (choices_elder_counter < choices_younger_counter) {
					var i = choices_younger_counter - 1;
					do {
						choices_younger_del(i);
						i--;
					} while (choices_elder_counter != choices_younger_counter)
				}
				for (var i = 0; i < choices_elder_counter; i++) {
					document.getElementsByName("choice" + i + "_younger")[0].value = document.getElementsByName("choice" + i + "_elder")[0].value;
					document.getElementById("answer_younger_choice_option" + i).text = document.getElementById("answer_elder_choice_option" + i).text
				};
			}

			function disable_younger_all_choices() {
				document.getElementById("btn_choice_younger_new").disabled = true;
				for (var i = 0; i < choices_younger_counter; i++) {
					document.getElementById("btn_div_choice_younger_subchoice" + i).disabled = true;
					document.getElementsByName("choice" + i + "_younger")[0].readOnly = true;
				};
			}

			function try_enable_younger_all_choices() {
				document.getElementById("btn_choice_younger_new").disabled = choices_younger_counter >= Alphabet.length;
				for (var i = 0; i < choices_younger_counter; i++) {
					btn = document.getElementById("btn_div_choice_younger_subchoice" + i);
					btn.disabled = choices_younger_counter < 3;
					document.getElementsByName("choice" + i + "_younger")[0].readOnly = f;
				};
			}

			// function checking_checked() {
			// 	objName = document.getElementsByName("checking_same")[0];
			// 	tobj = document.getElementsByName("checking_younger")[0];
			// 	if (objName.checked) {
			// 		tobj.value = document.getElementsByName("checking_elder")[0].value;
			// 		checking_change_younger();
			// 		tobj.readOnly = true;
			// 	} else {
			// 		tobj.readOnly = false;
			// 	}
			// } 

			function question_change_elder() {
				objName = document.getElementsByName("type_elder")[0];
				choice_area = document.getElementById("div_choice_elder");
				fill_area = document.getElementById("div_fill_elder");
				file_area = document.getElementById("div_file_elder");
				qr_area = document.getElementById("div_qr_elder");
				a_choice_area = document.getElementById("div_auto_elder_choice");
				a_fill_area = document.getElementById("div_auto_elder_fill");
				a_file_area = document.getElementById("div_auto_elder_file");
				a_qr_area = document.getElementById("div_auto_elder_qr");
				switch (objName.value) {
					case "choice":
						choice_area.style.display = "";
						fill_area.style.display = "none";
						file_area.style.display = "none";
						qr_area.style.display = "none";
						a_choice_area.style.display = "";
						a_fill_area.style.display = "none";
						a_file_area.style.display = "none";
						a_qr_area.style.display = "none";
						break;
					case "fill":
						choice_area.style.display = "none";
						fill_area.style.display = "";
						file_area.style.display = "none";
						qr_area.style.display = "none";
						a_choice_area.style.display = "none";
						a_fill_area.style.display = "";
						a_file_area.style.display = "none";
						a_qr_area.style.display = "none";
						break;
					case "file":
						choice_area.style.display = "none";
						fill_area.style.display = "none";
						file_area.style.display = "";
						qr_area.style.display = "none";
						a_choice_area.style.display = "none";
						a_fill_area.style.display = "none";
						a_file_area.style.display = "";
						a_qr_area.style.display = "none";
						break;
					case "qr":
						choice_area.style.display = "none";
						fill_area.style.display = "none";
						file_area.style.display = "none";
						qr_area.style.display = "";
						a_choice_area.style.display = "none";
						a_fill_area.style.display = "none";
						a_file_area.style.display = "none";
						a_qr_area.style.display = "";
						break;
				}

				shouldSync = document.getElementsByName("question_same")[0].checked;
				if (shouldSync) {
					document.getElementsByName("type_younger")[0].value = objName.value;
					question_change_younger();
				}
			} 

			function question_change_younger() {
				objName = document.getElementsByName("type_younger")[0];
				choice_area = document.getElementById("div_choice_younger");
				fill_area = document.getElementById("div_fill_younger");
				file_area = document.getElementById("div_file_younger");
				qr_area = document.getElementById("div_qr_younger");
				a_choice_area = document.getElementById("div_auto_younger_choice");
				a_fill_area = document.getElementById("div_auto_younger_fill");
				a_file_area = document.getElementById("div_auto_younger_file");
				a_qr_area = document.getElementById("div_auto_younger_qr");
				switch (objName.value) {
					case "choice":
						choice_area.style.display = "";
						fill_area.style.display = "none";
						file_area.style.display = "none";
						qr_area.style.display = "none";
						a_choice_area.style.display = "";
						a_fill_area.style.display = "none";
						a_file_area.style.display = "none";
						a_qr_area.style.display = "none";
						break;
					case "fill":
						choice_area.style.display = "none";
						fill_area.style.display = "";
						file_area.style.display = "none";
						qr_area.style.display = "none";
						a_choice_area.style.display = "none";
						a_fill_area.style.display = "";
						a_file_area.style.display = "none";
						a_qr_area.style.display = "none";
						break;
					case "file":
						choice_area.style.display = "none";
						fill_area.style.display = "none";
						file_area.style.display = "";
						qr_area.style.display = "none";
						a_choice_area.style.display = "none";
						a_fill_area.style.display = "none";
						a_file_area.style.display = "";
						a_qr_area.style.display = "none";
						break;
					case "qr":
						choice_area.style.display = "none";
						fill_area.style.display = "none";
						file_area.style.display = "none";
						qr_area.style.display = "";
						a_choice_area.style.display = "none";
						a_fill_area.style.display = "none";
						a_file_area.style.display = "none";
						a_qr_area.style.display = "";
						break;
				}
			} 

			function checking_change_elder() {
				objName = document.getElementsByName("checking_elder")[0];
				auto_area = document.getElementById("div_auto_elder");
				manual_area = document.getElementById("div_manual_elder");
				switch (objName.value) {
					case "auto":
						auto_area.style.display = "";
						manual_area.style.display = "none";
						break;
					case "manual":
						auto_area.style.display = "none";
						manual_area.style.display = "";
						break;
				}
			}

			function checking_change_younger() {
				objName = document.getElementsByName("checking_younger")[0];
				auto_area = document.getElementById("div_auto_younger");
				manual_area = document.getElementById("div_manual_younger");
				switch (objName.value) {
					case "auto":
						auto_area.style.display = "";
						manual_area.style.display = "none";
						break;
					case "manual":
						auto_area.style.display = "none";
						manual_area.style.display = "";
						break;
				}
			}

			const Alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

			var choices_elder_counter = 0;
			function choices_elder_new() {
				btn = document.getElementById("btn_choice_elder_new");
				if (choices_elder_counter < Alphabet.length) {
					new_div = document.createElement("div");
					new_div.id="div_choice_elder_subchoice" + choices_elder_counter;
					new_div.innerHTML = Alphabet[choices_elder_counter] + " <input name=\"choice" + choices_elder_counter + "_elder\" type=\"text\" onchange=\"choices_elder_input_change(" + choices_elder_counter + ")\"></input> " +
										"<button type=\"button\" id=\"btn_div_choice_elder_subchoice" + choices_elder_counter + "\" onclick=\"choices_elder_del(" + choices_elder_counter + ")\">X</button>";
					fatherElement = document.getElementById("div_choice_elder");
					fatherElement.insertBefore(new_div,btn);
//
					answerSelect = document.getElementsByName("answer_elder_choice")[0];
					option = document.createElement("option");
					option.id = "answer_elder_choice_option" + choices_elder_counter;
					option.text = Alphabet[choices_elder_counter] + ": ";
					option.value = "" + choices_elder_counter;
					answerSelect.add(option);
//
					choices_elder_counter++;
				}
				if (choices_elder_counter >= Alphabet.length) {
					btn.disabled = true;
				}
				for (var i = 0; i < choices_elder_counter; i++) {
					btn = document.getElementById("btn_div_choice_elder_subchoice" + i);
					btn.disabled = (choices_elder_counter < 3);
				};
				if (document.getElementsByName("question_same")[0].checked) {
					choices_younger_new();
				}
			}

			function choices_elder_del(index) {
				if (choices_elder_counter >= 3) {
					preCur = document.getElementsByName("choice" + index + "_elder")[0];
					for (var i = index; i + 1 < choices_elder_counter; i++) {
						cur = document.getElementsByName("choice" + (i + 1) + "_elder")[0];
						currentOption = document.getElementById("answer_elder_choice_option" + i);
						preCur.value = cur.value;
						currentOption.text = Alphabet[i] + ": " + cur.value;
						preCur = cur;
					};
					tail_div = document.getElementById("div_choice_elder_subchoice" + (choices_elder_counter - 1));
					fatherElement = document.getElementById("div_choice_elder");
					fatherElement.removeChild(tail_div);
					document.getElementsByName("answer_elder_choice")[0].remove(choices_elder_counter - 1);
					choices_elder_counter--;
				}
				if (choices_elder_counter < 3) {
					for (var i = 0; i < choices_elder_counter; i++) {
						btn = document.getElementById("btn_div_choice_elder_subchoice" + i);
						btn.disabled = true;
					};
				}
				if (document.getElementsByName("question_same")[0].checked) {
					choices_younger_del(index);
				}
			}

			function choices_elder_input_change(index) {
				newInput = document.getElementsByName("choice" + index + "_elder")[0].value;
				if (document.getElementsByName("question_same")[0].checked) {
					document.getElementsByName("choice" + index + "_younger")[0].value = newInput;
				}
				document.getElementById("answer_elder_choice_option" + index).text = Alphabet[index] + ": " + newInput;
			}

			var choices_younger_counter = 0;
			function choices_younger_new() {
				btn = document.getElementById("btn_choice_younger_new");
				if (choices_younger_counter < Alphabet.length) {
					new_div = document.createElement("div");
					new_div.id="div_choice_younger_subchoice" + choices_younger_counter;
					new_div.innerHTML = Alphabet[choices_younger_counter] + " <input name=\"choice" + choices_younger_counter + "_younger\" type=\"text\" onchange=\"choices_younger_input_change(" + choices_younger_counter + ")\"></input> " +
										"<button type=\"button\" id=\"btn_div_choice_younger_subchoice" + choices_younger_counter + "\" onclick=\"choices_younger_del(" + choices_younger_counter + ")\">X</button>";
					fatherElement = document.getElementById("div_choice_younger");
					fatherElement.insertBefore(new_div,btn);

					answerSelect = document.getElementsByName("answer_younger_choice")[0];
					option = document.createElement("option");
					option.id = "answer_younger_choice_option" + choices_younger_counter;
					option.text = Alphabet[choices_younger_counter] + ": ";
					option.value = "" + choices_younger_counter;
					answerSelect.add(option);

					choices_younger_counter++;
				}
				if (choices_younger_counter >= Alphabet.length) {
					btn.disabled = true;
				}
				for (var i = 0; i < choices_younger_counter; i++) {
					btn = document.getElementById("btn_div_choice_younger_subchoice" + i);
					btn.disabled = choices_younger_counter < 3;
				};
			}

			function choices_younger_del(index) {
				if (choices_younger_counter >= 3) {
					preCur = document.getElementsByName("choice" + index + "_younger")[0];
					for (var i = index; i + 1 < choices_younger_counter; i++) {
						cur = document.getElementsByName("choice" + (i + 1) + "_younger")[0];
						currentOption = document.getElementById("answer_younger_choice_option" + i);
						preCur.value = cur.value;
						currentOption.text = Alphabet[i] + ": " + cur.value;
						preCur = cur;
					};
					tail_div = document.getElementById("div_choice_younger_subchoice" + (choices_younger_counter - 1));
					fatherElement = document.getElementById("div_choice_younger");
					fatherElement.removeChild(tail_div);
					choices_younger_counter--;
				}
				if (choices_younger_counter < 3) {
					for (var i = 0; i < choices_younger_counter; i++) {
						btn = document.getElementById("btn_div_choice_younger_subchoice" + i);
						btn.disabled = true;
					};
				}
			}

			function choices_younger_input_change(index) {
				newInput = document.getElementsByName("choice" + index + "_younger")[0].value;
				document.getElementById("answer_younger_choice_option" + index).text = Alphabet[index] + ": " + newInput;
			}

			function title_sync() {
				objName = document.getElementsByName("title_same")[0];
				if (objName.checked) {
					tobj = document.getElementsByName("title_younger")[0];
					tobj.value = document.getElementsByName("title_elder")[0].value;
					tobj.readOnly = true;
				}
			}

			function description_sync() {
				objName = document.getElementsByName("description_same")[0];
				if (objName.checked) {
					tobj = document.getElementsByName("description_younger")[0];
					tobj.value = document.getElementsByName("description_elder")[0].value;
					tobj.readOnly = true;
				}
			}

			var inited=false;
			var info;
			var button;
			var initInfo = "Choose your file and you can submit after the uploading complete.";

			function init() {
				if(inited)
			        return;
				choices_elder_new();
				choices_elder_new();
				choices_younger_new();
				choices_younger_new();

				info=document.getElementById("info");
			    info.innerHTML = initInfo;
			    button=document.getElementById("submit_question");
			    inited=true;
			}

			function handleFiles(f)
			{
				info.innerHTML = "Uploading...";
				button.disabled=true;
				sendFileToParse(f, function(obj) {
					info.innerHTML = "Upload complete.";
		          	button.disabled=false;
		          	document.getElementById("img_id").value=obj.id;
				},
				function(error) {
					info.innerHTML = "Upload failed. Please choose your file and try again.";
				});
			}
		</script> 
		<script type="text/javascript" src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>
	    <script type="text/javascript" src="/js/file_upload.js"></script>
	</head>
	<body>
		<div class="container">
		    <div class="row vertical-center-row">
		        <div class="col-lg-offset-3 col-lg-6">
		            <div class="panel panel-primary">
		                <div class="panel-heading">
		                    <h1 class="panel-title">Create a new question</h1>
		                </div>
		                <div class="panel-body" style="padding-top: 20px; padding-bottom: 20px;">
		<%
		switch (msg) {
			case "1":
		%>
		<p>Invalid mark!</p>
		<%
				break;
			case "2":
		%>
		<p>Invalid question type!</p>
		<%
				break;
			case "3":
		%>
		<p>Please fill in all the area with *</p>
		<%
				break;
			case "4":
		%>
		<p>Invalid marking type</p>
		<%
				break;
			default:
				break;
		}				
		%>
		<p>* required</p>
		<form method="post" action="/admin/new-question">
			<label>Title*</label>
			<table border="1">
				<tr>
					<td>Elder</td>
					<td>Younger</td>
				</tr>
				<tr>
					<td><br><input name="title_elder" type="text" onchange="title_sync()" required></input></td>
					<td>
						<input type="checkbox" name="title_same" value="title_same" onclick="title_checked()">Same to Elder<br>
						<input name="title_younger" type="text" required></input>
					</td>
				</tr>
			</table>
			<br>
			<label>Description</label>
			<table border="1">
				<tr>
					<td>Elder</td>
					<td>Younger</td>
				</tr>
				<tr>
					<td><br><textarea name="description_elder"  onchange="description_sync()"></textarea></td>
					<td>
						<input type="checkbox" name="description_same" value="description_same" onclick="description_checked()">Same to Elder<br>
						<textarea name="description_younger"></textarea>
					</td>
				</tr>
			</table>
			<br>
			<label>Mark* (no less than 0)</label>
			<br>
			<input name="mark" type="number" required></input>
			<br><br>
			<label>Image</label>
			<input type="file" onchange="handleFiles(this.files)">
		    <p id="info" class="help-block"></p>
		    <input type="hidden" name="img_id" id="img_id"/>
			<br><br>
			<label>Tags (separate with comma)</label>
			<br>
			<input name="tags" type="text"></input>
			<br><br>
			<label>Question*</label>
			<table border="1">
				<tr>
					<td>Elder</td>
					<td>Younger</td>
				</tr>
				<tr>
					<td>
						<br>
						<select name="type_elder" onchange="question_change_elder()" required>
							<option value="choice">Choice</option>
							<option value="fill">Fill in the Black</option>
							<option value="file">Upload files</option>
							<option value="qr">Scan QR Code</option>
						</select>
					</td>
					<td>
						<input type="checkbox" name="question_same" value="question_same" onclick="question_checked()">Same to Elder<br>
						<select name="type_younger" onchange="question_change_younger()" required>
							<option value="choice">Choice</option>
							<option value="fill">Fill in the Black</option>
							<option value="file">Upload files</option>
							<option value="qr">Scan QR Code</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<div id="div_choice_elder">
							<label>Choices*</label>
							<br>
							<button id="btn_choice_elder_new" type="button" onclick="choices_elder_new()">New choice</button>
						</div>
						<div id="div_fill_elder" style="display:none;">
							Text answer expected
						</div>
						<div id="div_file_elder" style="display:none;">
							File uploading expected
						</div>
						<div id="div_qr_elder" style="display:none;">
							Online QR Code Scanning
						</div>
					</td>
					<td>
						<div id="div_choice_younger">
							<label>Choices*</label>
							<br>
							<button id="btn_choice_younger_new" type="button" onclick="choices_younger_new()">New choice</button>
						</div>
						<div id="div_fill_younger"  style="display:none;">
							Text answer expected
						</div>
						<div id="div_file_younger" style="display:none;">
							File uploading expected
						</div>
						<div id="div_qr_younger" style="display:none;">
							Online QR Code Scanning
						</div>
					</td>
				</tr>
			</table>
			<br>
			<label>Answer*</label>
			<table border="1">
				<tr>
					<td>Elder</td>
					<td>Younger</td>
				</tr>
				<tr>
					<td>
						<select name="checking_elder" onchange="checking_change_elder()">
							<option value="auto">Auto checking</option>
							<option value="manual">Manual checking</option>
						</select>
					</td>
					<td>
						<!--<input type="checkbox" name="checking_same" value="checking_same" onclick="checking_checked()">Same to Elder<br>-->
						<select name="checking_younger" onchange="checking_change_younger()">
							<option value="auto">Auto checking</option>
							<option value="manual">Manual checking</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<div id="div_auto_elder">
							<div id="div_auto_elder_choice">
								<select name="answer_elder_choice">
								</select>
							</div>
							<div id="div_auto_elder_fill" style="display:none;">
								<label>Expected Answer*</label>
								<br>
								<input name="answer_elder_fill" type="text"></input>
							</div>
							<div id="div_auto_elder_file" style="display:none;">
								Support manual marking only.
							</div>
							<div id="div_auto_elder_qr" style="display:none;">
								<label>Expected String in QR*</label>
								<br>
								<input name="answer_elder_qr" type="text"></input>
							</div>
						</div>
						<div id="div_manual_elder" style="display:none;">
							The answer will be checked manually
						</div>
					</td>
					<td>
						<div id="div_auto_younger">
							<div id="div_auto_younger_choice">
								<select name="answer_younger_choice">
								</select>
							</div>
							<div id="div_auto_younger_fill" style="display:none;">
								<label>Expected Answer*</label>
								<br>
								<input name="answer_younger_fill" type="text"></input>
							</div>
							<div id="div_auto_younger_file" style="display:none;">
								Support manual marking only.
							</div>
							<div id="div_auto_younger_qr" style="display:none;">
								<label>Expected String in QR*</label>
								<br>
								<input name="answer_younger_qr" type="text"></input>
							</div>
						</div>
						<div id="div_manual_younger" style="display:none;">
							The answer will be checked manually
						</div>
					</td>
				</tr>
			</table>
			<input id="submit_question" class="button" type="submit" value="Submit">
		</form>
	</div>
    </div>
</div>
</div>
</div>

		<script language="javascript">
			init();
		</script>
	</body>
</html>