<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Team <%= name%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    

    <style type="text/css">
      html, body, .container {
          height: 100%;
      }
      .container {
          display: table;
          vertical-align: middle;
      }
      .vertical-center-row {
          display: table-cell;
          vertical-align: middle;
      }
          .btn-block
          {
              text-align: left;
              font-size: large;
              padding: 6px 8px 6px 8px
          }
      </style>

  </head>
  <body>
  <div class="container">
    <div class="row vertical-center-row">
      <div class="col-lg-offset-2 col-lg-8">
        <div class="page-header">
          <h1>Team <%= name%></h1>
        </div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-lg-3 control-label">Elder User</label>
    <div class="col-lg-9">
      <p class="form-control-static"><%= elder_firstname%> <%= elder_lastname%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Younger User</label>
    <div class="col-lg-9">
      <p class="form-control-static"><%= younger_firstname%> <%= younger_lastname%></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-3 control-label">Total Mark</label>
    <div class="col-lg-9">
      <p class="form-control-static"><%= mark%></p>
    </div>
  </div>
</form>

      </div>
    </div>
  </div>
  </body>
</html>