<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Create Team</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<style type="text/css">
	        html, body, .container {
			    height: 100%;
			}
			.container {
			    display: table;
			    vertical-align: middle;
			}
			.vertical-center-row {
			    display: table-cell;
			    vertical-align: middle;
			}
	        .btn-block
	        {
	            text-align: left;
	            font-size: large;
	            padding: 6px 8px 6px 8px
	        }
	    </style>
	</head>

	<body>
		<div class="container">
		    <div class="row vertical-center-row">
		        <div class="col-lg-offset-2 col-lg-8 ">
		            <div class="panel panel-primary">
		                <div class="panel-heading">
		                    <h1 class="panel-title">Create a new team</h1>
		                </div>
		                <div class="panel-body" style="padding-top: 20px; padding-bottom: 20px;">
							<%
							switch (msg) {
								case "1":
							%>
							<div class="alert alert-danger alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Error!</strong> Existed Team Name!
							</div>
							
							<%
									break;
								case "2":
							%>
							<div class="alert alert-danger alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Error!</strong> Can not find that user!
							</div>
							
							<%
									break;
								case "3":
							%>
							<div class="alert alert-danger alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Error!</strong> Please fill in all the area with <strong>*</strong>
							</div>
							<%
									break;
								default:
									break;
							}				
							%>
		                    <form role="form" class="form-horizontal" action="/create_team" method="post">
		                        <div class="form-group">
		                            <label for="teamname" class="col-sm-4 control-label">Team Name*</label>
		                            <div class="col-sm-8">
		                            	<input id="teamname" name="teamname" type="text" class="form-control required" placeholder="Enter Your Team Name"></input>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="teammate_email" class="col-sm-4 control-label">Teammate's Email Address*</label>
		                            <div class="col-sm-8">
		                            	<input id="teammate_email" name="teammate_email" type="email" class="form-control required" placeholder="Enter Your Team Name"></input>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="relation" class="col-sm-4 control-label">Are you? *</label>
		                            <div class="col-sm-8">
		                            	<label class="radio-inline">
		                            		<input id="radio" type="radio" name="relation" value="0" checked>Younger
										</label>
										<label class="radio-inline">
											<input id="radio" type="radio" name="relation" value="1">Elder
										</label>
		                            </div>
		                        </div>
		                        <button type="submit" class="btn btn-default btn-primary">Create</button>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		
	</body>
</html>