<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<style type="text/css">
	        .tab-pane .jumbotron
	        {
	            padding: 10px 10px 10px 10px;
	            font-size: 15px;
	        }
	        .jumbotron .badge
	        {
	            margin-left: 1px;
	            margin-right: 1px;
	        }
	        .jumbotron .btn
	        {
	            margin-left: 1px;
	            margin-right: 1px;
	        }
	    </style>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <!-- Latest compiled and minified JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  	
 	<div class="container">
 		<div class="page-header">
 			<h1>Dashboard</h1>
 		</div>
 		<div class="row">
	 		<div class="col-lg-3">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Personal Info</h3>
	                </div>
	                <div class="panel-body">
	                    <div class="col-sm-4" style="padding-left:0px; padding-right:0px;">
	                        <img src="/images/no-photo.png" class="img-thumbnail img-responsive"/>
	                    </div>
	                    <div class="col-sm-8">
	                        <p>
	                            <strong>Welcome back,</strong><br />
	                            <a href="#" data-toggle="tooltip" data-placement="auto" title="Click to Edit Details" id="userTooltip"><%= firstname%></a><br>
	                            <a class="btn btn-default" href="/logout">Log out &raquo;</a>
	                        </p>
	                    </div>
	                </div>
	            </div>
	            <div class="panel panel-default">
	            	<div class="panel-heading">
	                    <h3 class="panel-title">Teams Info</h3>
	                </div>
	<%
		if (info.length > 0) {
	%>
					<table class="table table-hover">
	                	<thead>
	                		<tr>
	                			<th>Name</th>
	                			<th>Mark</th>
	                		</tr>
	                	</thead>
	                	<tbody>
	<%
			for (var i = 0; i < info.length; i++) {
	%>
							<tr>
								<td><%=info[i].team_name%></td>
								<td><%=info[i].total_mark%></td>
							</tr>
	<%
			}
	%>
						</tbody>
	                </table>
	                <div class="panel-body">
	<%
		} else {
	%>
					<div class="panel-body">
						<p>You don't have any teams.</p>
	<%
		}
	%>
						<br>
	                	<a class="btn btn-primary" href="/create_team">New Team</a> 
	                </div>
	            </div>
	            <!--
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Badges Info</h3>
	                </div>
	                <div class="panel-body">
	<%
			if (badges && (badges.length > 0)) {
				for (var k = 0; k < badges.length; k++) {
	%>
					<strong><%=badges[k].name%>:</strong><br>
					<p><%=badges[k].description%></p>
	<%
				}
			} else {
	%>
				<p>You don't have any badges now.</p>
	<%
			}
	%>
	                </div>
	            </div>
	        -->
	        </div>
	        <div class="col-lg-9">
	<%
		if (info.length > 0) {
	%>
			<ul class="nav nav-tabs" id="dashboardTab" role="tablist">
	<%
			for (var i = 0; i < info.length; i++) {
	%>
			<li><a href="#team_tab_<%= i%>" role="tab" data-toggle="tab"><%=info[i].team_name%>&nbsp;<span class="badge pull-right"><%=info[i].questions.length%></span></a></li>
	<%
			}
	%>
			</ul>
			<div id="myTabContent" class="tab-content" style="margin-top: 15px; margin-bottom: 15px;">
	<%
			for (var i = 0; i < info.length; i++) {
				if (info[i].questions.length > 0) {
	%>
				<div class="tab-pane fade in active" id="team_tab_<%= i%>">
	<%
					for (var j = 0; j < info[i].questions.length; j++) {
	%>
						<div class="jumbotron col-lg-12 container">
	                        <div class="col-lg-3">
	                            <img src="<%=info[i].questions[j].question_img%>" class="img-thumbnail img-responsive"/>
	                        </div>
	                        <div class="col-lg-9">
	                        	<div class="row">
	<%
								if (info[i].questions[j].tags) {
									for (var k = 0; k < info[i].questions[j].tags.length; k++) {
	%>
								<span class="badge pull-right"><%=info[i].questions[j].tags[k]%></span>
	<%
									}
								}
	%>
	                        	</div>
	                            <h2><%=info[i].questions[j].question_name%></h2>
	                            <p>Mark: <%=info[i].questions[j].question_mark%></p>
	                            <p><a class="btn btn-default" href="/question/<%=info[i].team_id%>/<%=info[i].questions[j].question_id%>">Challenge Now &raquo;</a></p>
	                        </div>
	                    </div>
	<%
					}
	%>
				</div>
	<%
				} else {
	%>
					<p>You have finished all questions for this team.</p>
	<%
				}
	%>
	<%
			}
	%>
	        </div>
	<%
		} else {
	%>
		<p>You don't have any teams. <a class="btn btn-primary" href="/create_team">Create One!</a></p>
	<%
		}
	%>

	        </div>
        </div>
	</div>

	<script>
        $(function () {
    <%
		if (info.length > 0) {
	%>
			$('#dashboardTab a:first').tab('show')
	<%
		}
	%>
            
            $('#userTooltip').tooltip('hide')
        })
    </script>
  </body>
</html>