<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		

		<style type="text/css">
			html, body, .container {
			    height: 100%;
			}
			.container {
			    display: table;
			    vertical-align: middle;
			}
			.vertical-center-row {
			    display: table-cell;
			    vertical-align: middle;
			}
	        .btn-block
	        {
	            text-align: left;
	            font-size: large;
	            padding: 6px 8px 6px 8px
	        }
	    </style>

	</head>
	<body>
		<div class="container">
		    <div class="row vertical-center-row">
		        <div class="col-lg-offset-4 col-lg-4 ">
		            <div class="panel panel-primary">
		                <div class="panel-heading">
		                    <h1 class="panel-title">Log in</h1>
		                </div>
		                <div class="panel-body" style="padding-top: 20px; padding-bottom: 20px;">
							<%
							switch (msg) {
								case "1":
							%>
							<div class="alert alert-danger alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Error!</strong> Wrong Username or Password!
							</div>
							
							<%
									break;
								case "2":
							%>
							<div class="alert alert-info alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  You have logged out!
							</div>
							
							<%
									break;
								case "3":
							%>
							<div class="alert alert-danger alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Error!</strong> Please login first!
							</div>
							<%
									break;
								default:
									break;
							}				
							%>
		                    <form role="form" class="form-horizontal" action="/login" method="post">
		                        <a href="/register">Need an account? Sign up free!</a><br /><br />
		                        <div class="form-group">
		                            <label for="username" class="col-sm-3 control-label">Email</label>
		                            <div class="col-sm-9">
		                            	<input id="username" name="username" type="email" class="form-control required" placeholder="Enter Your Email"></input>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="password" class="col-sm-3 control-label">Password</label>
		                            <div class="col-sm-9">
		                            	<input id="password" name="password" class="form-control required" type="password" placeholder="Enter Your Password"></input>
		                            </div>
		                        </div>
		                        <button type="submit" class="btn btn-default btn-primary">Log in</button>
		                        &nbsp;<a href="#">Forgot your password?</a>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</body>
</html>