<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Question: <%=title%></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<style type="text/css">
	        html, body, .container {
			    height: 100%;
			}
			.container {
			    display: table;
			    vertical-align: middle;
			}
			.vertical-center-row {
			    display: table-cell;
			    vertical-align: middle;
			}
	        .btn-block
	        {
	            text-align: left;
	            font-size: large;
	            padding: 6px 8px 6px 8px
	        }
	    </style>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!--<script type="text/javascript" src="js/lib/jsqrcode/grid.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/version.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/detector.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/formatinf.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/errorlevel.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/bitmat.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/datablock.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/bmparser.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/datamask.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/rsdecoder.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/gf256poly.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/gf256.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/decoder.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/qrcode.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/findpat.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/alignpat.js"></script>
		<script type="text/javascript" src="js/lib/jsqrcode/databr.js"></script>-->
		<script type="text/javascript" src="/js/lib/jsqrcode/llqrcode.js"></script>
		<script type="text/javascript" src="/js/cam_qr.js"></script>
        
	</head>
	<body>

		<div class="container">
		    <div class="row vertical-center-row">
		        <div class="col-lg-offset-2 col-lg-8 ">
		            <div class="panel panel-primary">
		                <div class="panel-heading">
		                    <h1 class="panel-title"><%=title%></h1>
		                </div>
		                <div class="panel-body" style="padding-top: 20px; padding-bottom: 20px;">
		                	<h2><%=title%></h2>
		                    <h4><%-description%></h4>
		                	<div id="mainbody">
			                	<p>Please "Allow" this website to access your camera.</p>
			                	<video  id="camsource" width="100%"height="100%" autoplay>Not supported in your browser.</video>
							    <canvas id="qr-canvas" width="800" height="600" style="display:none"></canvas>
			                    <form role="form" class="form-horizontal" action="/question/<%=team_id%>/<%=question_id%>" method="post">
									<label for="qr-value">Result: </label>
									<input type="text" class="form-control" id="qr-value" name="answer" placeholder="Scanning... You can also scan with your app and type the result here" onchange="OnInputQR()" onkeyup="OnInputQR()"></input>
									<br>
			                        <button id="submit_qr" type="submit" class="btn btn-default btn-primary">Submit</button>
			                    </form>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<script type="text/javascript">
			load();
			function OnInputQR() {
				document.getElementById("submit_qr").disabled = (document.getElementById("qr-value").value.length <= 0);
			}
		</script>
	</body>
</html>