<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title>Question: <%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<style type="text/css">
	        html, body, .container {
			    height: 100%;
			}
			.container {
			    display: table;
			    vertical-align: middle;
			}
			.vertical-center-row {
			    display: table-cell;
			    vertical-align: middle;
			}
	        .btn-block
	        {
	            text-align: left;
	            font-size: large;
	            padding: 6px 8px 6px 8px
	        }
	    </style>
  </head>
  <body>
  	<div class="container">
		    <div class="row vertical-center-row">
		        <div class="col-lg-offset-2 col-lg-8 ">
		            <div class="panel panel-primary">
		                <div class="panel-heading">
		                    <h1 class="panel-title"><%=title%></h1>
		                </div>
		                <div class="panel-body" style="padding-bottom: 20px;">
		                    <form role="form" class="form-horizontal" action="/question/<%=team_id%>/<%=question_id%>" method="post">
		                    	<h2><%=title%></h2>
		                        <h4><%-description%></h4>
		                        <textarea class="form-control" rows="3" name="answer"></textarea>
		                        <br>
		                        <button type="submit" class="btn btn-default btn-primary">Submit</button>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
  <h1></h1>
  </body>
</html>