<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title>Question: <%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<style type="text/css">
	        html, body, .container {
			    height: 100%;
			}
			.container {
			    display: table;
			    vertical-align: middle;
			}
			.vertical-center-row {
			    display: table-cell;
			    vertical-align: middle;
			}
	        .btn-block
	        {
	            text-align: left;
	            font-size: large;
	            padding: 6px 8px 6px 8px
	        }
	    </style>
	    <script type="text/javascript" src="//www.parsecdn.com/js/parse-1.2.19.min.js"></script>
	    <script type="text/javascript" src="/js/file_upload.js"></script>
  </head>
  <body>
  	<div class="container">
		    <div class="row vertical-center-row">
		        <div class="col-lg-offset-2 col-lg-8 ">
		            <div class="panel panel-primary">
		                <div class="panel-heading">
		                    <h1 class="panel-title"><%=title%></h1>
		                </div>
		                <div class="panel-body" style="padding-bottom: 20px;">
		                    <form role="form" class="form-horizontal" action="/question/<%=team_id%>/<%=question_id%>" method="post">
		                    	<h2><%=title%></h2>
		                        <h4><%-description%></h4>
		                        <input type="file" onchange="handleFiles(this.files)">
		                        <p id="info" class="help-block"></p>
		                        <br>
		                        <input type="hidden" name="answer" id="answer"/>
		                        <button id="submit_file" type="submit" class="btn btn-default btn-primary">Submit</button>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
  		<script type="text/javascript">
  			var inited=false;
			var info;
			var button;
			var initInfo = "Choose your file and you can submit after the uploading complete.";

  			function load()
			{
			    if(inited)
			        return;
			    info=document.getElementById("info");
			    info.innerHTML = initInfo;
			    button=document.getElementById("submit_file");
			    button.disabled=true;
			    inited=true;
			}

			function handleFiles(f)
			{
				info.innerHTML = "Uploading...";
				button.disabled=true;
				sendFileToParse(f, function(obj) {
					info.innerHTML = "Upload complete.";
		          	button.disabled=false;
		          	document.getElementById("answer").value=obj.id;
				},
				function(error) {
					info.innerHTML = "Upload failed. Please choose your file and try again.";
				});
			}

			load();
		</script>
  </body>
</html>