<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Register</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		
		<style type="text/css">
	        html, body, .container {
			    height: 100%;
			}
			.container {
			    display: table;
			    vertical-align: middle;
			}
			.vertical-center-row {
			    display: table-cell;
			    vertical-align: middle;
			}
	        .btn-block
	        {
	            text-align: left;
	            font-size: large;
	            padding: 6px 8px 6px 8px
	        }
	    </style>
	</head>
	<body>
		<div class="container">
		    <div class="row vertical-center-row">
		        <div class="col-lg-offset-4 col-lg-4 ">
		            <div class="panel panel-primary">
		                <div class="panel-heading">
		                    <h1 class="panel-title">Sign up</h1>
		                </div>
		                <div class="panel-body" style="padding-top: 20px; padding-bottom: 20px;">
							<%
							switch (msg) {
								case "1":
							%>
							<div class="alert alert-danger alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Error!</strong> Existed user!
							</div>
							
							<%
									break;
								case "2":
							%>
							<div class="alert alert-danger alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Error!</strong> Password can not match
							</div>
							
							<%
									break;
								case "3":
							%>
							<div class="alert alert-danger alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							  <strong>Error!</strong> Please fill in all the area with <strong>*</strong>
							</div>
							<%
									break;
								default:
									break;
							}				
							%>
		                    <form role="form" class="form-horizontal" action="/register" method="post">
		                    	<a href="/login">Already have an account? Sign in here!</a><br /><br />
		                        <div class="form-group">
		                            <label for="username" class="col-sm-4 control-label">Email*</label>
		                            <div class="col-sm-8">
		                            	<input id="username" name="username" type="email" class="form-control required" placeholder="Enter Your Email"></input>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="password" class="col-sm-4 control-label">Password*</label>
		                            <div class="col-sm-8">
		                            	<input id="password" name="password" class="form-control required" type="password" placeholder="Enter Your Password"></input>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="passwordconfirm" class="col-sm-4 control-label">Confirm*</label>
		                            <div class="col-sm-8">
		                            	<input id="passwordconfirm" name="passwordconfirm" class="form-control required" type="password" placeholder="Type Your Password Again"></input>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="firstname" class="col-sm-4 control-label">First Name*</label>
		                            <div class="col-sm-8">
		                            	<input id="firstname" name="firstname" type="text" class="form-control required" placeholder="Enter Your First Name"></input>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label for="lastname" class="col-sm-4 control-label">Last Name*</label>
		                            <div class="col-sm-8">
		                            	<input id="lastname" name="lastname" type="text" class="form-control required" placeholder="Enter Your Last Name"></input>
		                            </div>
		                        </div>
		                        <button type="submit" class="btn btn-default btn-primary">Register</button>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</body>
</html>